
  html { /*removes whitespace around background image*/
    margin: 0;
    padding: 0;
    height: 100%;
    
  }

  body {
    font-family:'Tenor Sans', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex; /*trying to move the footer to the bottom of the page in flexbox*/
    flex-direction: column;
    min-height: 100vh; /*ensures that the body takes up at least the height of the viewport*/
    background-color: azure;
  }
  
  main {
    flex: 1; /*make elements take up remaining space between header and footer*/
  }
  
  .homepage{
    background-color: rgb(150, 150, 150);
    background-image: url("../images/heroimage.jpg");
    padding-top: 100px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    position: relative;
    
    
  }

   
  nav {
    width: 100%;
    margin: 0 0 0 0; /*prevents whitespace around navbar*/
    display: flex;
    justify-content: center;
    background-color: #29b9f1;
    padding: 0;
    top: 0;
  

  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #b4b4b4;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    padding-top: 70px;
    color: rgb(211, 211, 211);
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
  }
  
  
  .contianer {  /*formatting the blog writing content*/
    text-align: left;
    color: rgb(0, 0, 0);
    width: 90%;
    margin: 0 auto;
    
  }

  
  .page-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blog-post {
    width: 80%;
    margin-bottom: 50px;
  }
  
  .blog-post h2 {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: auto; /*pushes footer to bottom of page*/
  }

  .footer-contianer {
    display: flex;
    align-items: center;
  }

  .footer-container p {
    margin: 0;
    font-size: 16px;
  }

  code { /*this styles code in html*/
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    white-space: pre-line
   }
  
   .fixed-example {
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    background-color: #ff1919;
    border: 3px solid #000000;
  }

  .card-container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
  }
  .card {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
  }
  .card-image {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
  }
  .card-content {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    text-decoration: none;
  }

  .card-button {
  border: 1px solid rgb(112, 112, 112);
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin: 0 auto;
  display: block;
  cursor: pointer; /* gives it a cursor on hover over to show it's a clickable link */
  }
  
  @media only screen and (max-width: 767px) {
        
    nav ul {
      flex-direction: column; /*changes it to top down navbar*/
    }
    
    nav ul li {
       margin: -1px; /*decreases spacing for mobile to make it more compact */
    }

    .homepage {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    

    
  }