
  html { /*removes whitespace around background image*/
    margin: 0;
    padding: 0;
    height: 100%;
    
  }

  body {
    font-family: Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  .homepage{
    background-color: rgb(187, 186, 186);
    background-image: url("../images/mtcook.jpg");
    padding-top: 100px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    position: relative;
    
    
  }
  
  nav {
    width: 100%;
    margin: 0 0 0 0; /*prevents whitespace around navbar*/
    display: flex;
    justify-content: center;
    background-color: #29b9f1;
    padding: 0;
    top: 0;
  

  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #c74900;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    padding-top: 70px;
    color: rgb(32, 32, 32);
  }
  
  
  .contianer {  /*formatting the blog writing content*/
    text-align: left;
    color: rgb(0, 0, 0);
    width: 90%;
    margin: 0 auto;
    
  }

  .about-me-text {
    border: solid 4px rgb(7, 1, 5);
    border-radius: 10%;
    padding: 0 10px 0 10px;
    background-color: rgba(216, 215, 215, 0.986);
    position: absolute; /*using absolute allows elements to be stacked on top of each other*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*puts element in the centre*/
    margin-top: 200px; /*way to move the element up and down etc*/
    display: flex;
  }

  .page-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blog-post {
    width: 80%;
    margin-bottom: 50px;
  }
  
  .blog-post h2 {
    margin-bottom: 10px;
  }
  
  .blog-post p {
    line

  
  
  @media only screen and (max-width: 767px) {
        
    nav ul {
      flex-direction: column; /*changes it to top down navbar*/
    }
    
    nav ul li {
       margin: 10px 0; /*increases spacing between menu items when on smaller screen */
    }

    .homepage {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    .about-me-text {
      position: absolute; /*??how to get absolute elements responsive??*/
      margin-top: 0px;
      width: 100%;
      max-width: 90%;
      left: 3%; /*keeps it centered and not off screen to the left*/      
      transform: translate(0, -50%);
      top: 180%; /*moves it down the screen*/

    }
  }